body{
	width: 1280px;
	margin: 0 auto;
	background: #9c9c9c;
}

h2, p {
	font-family: 'Roboto', sans-serif;
	font-style: black;
	color: #373737;
	letter-spacing: 2.7px;
	line-height: 2;
	margin: 0;
}

a{
	margin-left: 40px;
	margin-right: 40px;
	text-decoration: none;
	color: #16a085;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2.7px;
}

.nav{
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 35px;
}

.text{
	padding-top: 31px;
}

.text-end{
	padding-bottom: 60px;
}

.menu{
	background: #f5f6f7;	
}
.navigation, .footer{
	background: #fff;
}

.info{
	padding-bottom: 94px;
	padding-top: 55px;
	width: 1071px;
	margin: 0 auto;
	text-align: center;
}

.btn{
	width: 192px;
	padding: 19px 41px;
	color: #fff;
	font-family: 'Roboto', sans-serif;	
	background: #16a085;
	border-radius: 10px;
	border: 0px;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2.7px;
}

.text-footer{
	padding: 45px 100px 45px 0;
	text-align: end;
}
